# SwiftFormat Configuration

--indent 4
--allman true
--selfrequired
--semicolons never
--wraparguments before-first
--wrapconditions before-first
--commas never
--exponentcase lowercase
--hexgrouping 4,8
--binarygrouping 4,8
--octalgrouping 4,8
--decimalgrouping 3,6
--emptybraces spaced
